.footer {
  a{
    text-decoration: none;
    color: #bbb;
  }
  background: #111;
  color: #ccc;

  .footer-logo {
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
  }

  .footer-title {
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  .footer-text {
    font-size: 0.95rem;
    color: #bbb;
  }

  .footer-links {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 8px;

      a {
        text-decoration: none;
        color: #bbb;
        transition: 0.3s;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .copy-text {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #777;
  }
}
.social-icons {
  a {
    color: #ccc;
    font-size: 1.4rem;
    margin: 0 10px;
    transition: 0.3s;

    &:hover {
      color: #fff;
    }
  }
}
