.apply-form-section {
  position: relative;
  background: url("/BackGround/MOHAMED\ ELHOSARY-6.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}

.apply-form-section .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}
.container {
  position: relative;
  z-index: 2;
}

/* Box */
.form-box {
  max-width: 520px;
  margin: auto;
  padding: 40px 35px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  padding: 35px 50px;
  border-radius: 20px;
  border: 1px solid rgba(146, 142, 142, 0.77);
}

/* Title */
.form-box h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.form-box p {
  color: #fff;
  font-size: 15px;
}

/* Labels */
.form-box label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px;
  color: #fff;
}

/* Inputs */
.form-box .form-control {
  border-radius: 12px;
  padding: 12px 14px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s ease;
}

.form-box .form-control:focus {
  border-color: #b32424;
  box-shadow: 0 0 0 0.15rem rgba(179, 36, 36, 0.2);
}

/* File Input */
.form-box input[type="file"] {
  padding: 10px;
}

/* Apply Button */
.btn-apply {
  background: #b32424;
  color: #fff;
  border: none;
  padding: 12px 38px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn-apply:hover {
  background: #8f1d1d;
  transform: translateY(-2px);
}

/* Error Text */
.text-danger {
  font-size: 12px;
}

/* Success Message */
.success-msg {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #198754;
  font-weight: 600;
}
