.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FCF5EB;
  z-index: 1;
}

.nav-box {
  position: relative;
  z-index: 2;
}

.nav-box {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #111;
  font-weight: 500;
  padding: 10px 5px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(146, 142, 142, 0.77);
  border-radius: 20px;

  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;

  &:hover {
    background: rgba(179, 36, 36, 0.8);
    border-color: #ff4d4d;
    transform: translateY(-4px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  }
}

.banner {
  width: 100%;
  height: 100%;
}
.banner img {
  width: 100%;
}
