<section class="maincourse-section py-5 mb-3" id="main-course">
  <div class="overlay"></div>
  <img src="/BackGround/154A3646.jpg" alt="Main Course Background" class="maincourse-bg" loading="lazy">

  <div class="container">

    <!-- Chicken Dishes -->
    <h2 class="text-center mb-3">
      {{ LanguageService.currentLang === 'en' ? 'Main Course' : 'الأطباق الرئيسية' }}
      <strong>{{ LanguageService.currentLang === 'en' ? 'Chicken Dishes' : 'أطباق الدجاج' }}</strong>
    </h2>

    <p class="text-center" style="font-size: 22px;">
      {{ LanguageService.currentLang === 'en'
      ? 'Our chicken main courses are cooked to perfection, juicy and full of flavor.'
      : 'أطباق الدجاج لدينا مطبوخة بإتقان، عصرية ومليئة بالنكهة.'
      }}
    </p>

    <div class="row justify-content-center g-4">
      @for (dish of mainCourseChicken; track dish) {
        <div class="col-sm-12 col-md-6 col-lg-6 mb-5 d-flex">
          <div class="card border-2 menu-card">
            <img [src]="dish.img" [alt]="dish.titleEn" loading="lazy">
            <div class="card-body">
              <h3>{{ LanguageService.currentLang === 'en' ? dish.titleEn : dish.titleAr }}</h3>
              <p>{{ LanguageService.currentLang === 'en' ? dish.descEn : dish.descAr }}</p>
              @if (dish.sides) {
                <h5>
                  {{ LanguageService.currentLang === 'en'
                  ? 'Choose Two sides (Rice, Fries, Mashed potato, Saute)'
                  : 'اختر جانبين (أرز، بطاطس مقلية، بطاطس مهروسة، سوتيه)'
                  }}
                </h5>
              }
            </div>
            <span class="price">{{ LanguageService.currentLang==='en' ? dish.priceEn : dish.priceAr }}</span>
          </div>
        </div>
      }
    </div>

    <!-- Beef Dishes -->
    <h2 class="text-center mb-3 mt-5">
      {{ LanguageService.currentLang === 'en' ? 'Beef Dishes' : 'أطباق اللحم' }}
    </h2>

    <div class="row justify-content-center g-4">
      @for (dish of mainCourseBeef; track dish) {
        <div class="col-sm-12 col-md-6 col-lg-6 mb-5 d-flex">
          <div class="card border-2 menu-card">
            <img [src]="dish.img" [alt]="dish.titleEn" loading="lazy">
            <div class="card-body">
              <h3>{{ LanguageService.currentLang === 'en' ? dish.titleEn : dish.titleAr }}</h3>
              <p>{{ LanguageService.currentLang === 'en' ? dish.descEn : dish.descAr }}</p>
              @if (dish.sides) {
                <h5>
                  {{ LanguageService.currentLang === 'en'
                  ? 'Choose Two sides (Rice, Fries, Mashed potato, Saute)'
                  : 'اختر جانبين (أرز، بطاطس مقلية، بطاطس مهروسة، سوتيه)'
                  }}
                </h5>
              }
            </div>
            <span class="price">{{ LanguageService.currentLang==='en' ? dish.priceEn : dish.priceAr }}</span>
          </div>
        </div>
      }
    </div>

  </div>

  <div class="container tax">
    <span>
      {{ LanguageService.currentLang === 'en'
      ? 'Add %12 service charge + %14 value-added tax'
      : 'يُضاف 12% خدمة + 14% ضريبة قيمة مضافة'
      }}
    </span>
  </div>
</section>
