.dessert-section {
  position: relative;
  color: #fff;

  .dessert-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .dessert-title {
    color: #ed2127;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 32px;
  }

  .dessert-list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px 0;
    font-size: 18px;
  }

  .dessert-list small {
    opacity: 0.7;
    font-size: 14px;
  }

  .name {
    max-width: 75%;
  }

  .price {
    font-weight: bold;
    color: #f1e6dd;
  }
}
.tax {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.tax span {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}
